* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.navber {
  background-color: #fff8f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  width: 60%;
  max-width: 1140px;
  /* border: 1px solid black; */
}

.logo h2 {
  width: bold;
  height: auto;
  font-size: 45px;
}

.logo h2 span {
  color: #fd6e0a;
}


.logo:hover {
  text-shadow: #3a3735 0px 0px 10px;
  box-shadow: inset 0 0 -10px #fd6e0a;
  cursor: pointer;
}


.navber ul {
  list-style: none;
  display: flex;
  gap: 80px;
  padding-right: 20px;
}

.manu li a {
  text-decoration: none;
  color: rgb(92, 80, 80);
  font-size: 14px;
  display: flex;
  padding-top: 12px;
  padding: 8px 12px;
}

.manu button {
  background-color: #fd6e0a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.nav-hover:hover {
  color: #fd6e0a;
  border-bottom: 2px solid #fd6e0a;
  box-shadow: 0 0 15px #fd6e0a;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #fd6e0a;
  }
  50% {
    box-shadow: 0 0 20px #fd6e0a;
  }
}

.manu button:hover {
  background-color: #e55b00;
  animation: glow 2s ease-in-out infinite;
}
