* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  background-color: #fff8f3f4;
}

header {
  width: 100%;
  height: auto;
  background-color: #fff8f3;
}

.navber {
  background-color: #fff8f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  width: 60%;
  max-width: 1140px;
  /* border: 1px solid black; */
}

.logo h2 {
  width: bold;
  height: auto;
  font-size: 45px;
}

.logo h2 span {
  color: #fd6e0a;
}

.logo:hover {
  text-shadow: #3a3735 0px 0px 10px;
  box-shadow: inset 0 0 -10px #fd6e0a;
  cursor: pointer;
}

.navber ul {
  list-style: none;
  display: flex;
  gap: 80px;
  padding-right: 20px;
}

.manu li a {
  text-decoration: none;
  color: rgb(92, 80, 80);
  font-size: 14px;
  display: flex;
  padding-top: 12px;
  padding: 8px 12px;
}

.manu button {
  background-color: #fd6e0a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.nav-hover:hover {
  color: #fd6e0a;
  border-bottom: 2px solid #fd6e0a;
  box-shadow: 0 0 20px #fd6e0a;
  animation: glow 3s ease-in-out infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 rgba(250, 186, 10, 0);
  }

  40% {
    box-shadow: 0 0 15px rgba(250, 186, 10, 0.746);
  }

  70% {
    box-shadow: 0 0 15px rgba(250, 186, 10, 0.746);
  }

  100% {
    box-shadow: 0 0 0 rgba(250, 186, 10, 0);
  }
}

.manu button:hover {
  background-color: #e55b00;
  animation: glow 2s ease-in-out infinite;
}

#hero-section {
  /* border: 2px solid black; */
  margin: 57px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text h1 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-left: 10px;
}

.hero-text h1 span {
  color: #fd6e0a;
  font-size: 75px;
  font-weight: bold;
  padding: 5px 0px 20px 0px;
}

.hero-text h3 {
  font-size: 20px;
  color: #5d5959;
  line-height: 1.8;
  padding-bottom: 15px;
}

.hero-text p {
  font-size: 16px;
  color: #7a7474;
  line-height: 1.6;
  padding-bottom: 25px;
}

.hero-text button {
  background-color: #fd6e0a;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.hero-text button:hover {
  animation: glow 3s ease-in-out infinite;
}

.hero-text button img {
  width: 17px;
  height: 18px;
  margin-left: 8px;
  filter: invert(1);
  padding: 2px 8px 0px 0px;
}

header {
  background-image: url('../images/developer.png'),
    url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: auto, 70em;
}

.hero-image img {
  display: block;
}

#about {
  padding-top: 130px;
}

.about-contain {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 56px;
  height: 550px;
  box-shadow: #5d5959;
  border-radius: 10px;
}

.about-contain:hover {
  animation: glow 3s ease-in-out infinite;
}

.about-headding {
  font-size: 35px;
  font-weight: bold;
  line-height: auto;
  margin-bottom: 30px;
}

.about-contain p {
  font-size: 20px;
  color: #757575;
}

.para {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
}

.about-info {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.about-info h4 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.799);
}

#skills-section {
  padding-top: 130px;
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

.section-headding h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.section-headding p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  text-align: center;
  padding-bottom: 50px;
}

.skills-box {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
}

.skills-card {
  padding: 30px;
  /* border: 1px solid black; */
  /* box-shadow: 0 4px 10px rgba(230, 156, 30, 0.487); */
  max-width: 267px;
  border-radius: 8px;
  background-color: #f1e9e995;
}

.skills-card:hover {
  animation: glow 3s ease-in-out infinite;
}

.skills-card img {
  max-width: 44px;
  margin-bottom: 30px;
}

.skills-card h3 {
  font-size: 20 px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #181818;
}

.skills-card p {
  font-size: 18px;
  line-height: 28px;
  color: #474747;
}
